/*
* PERSONAL DASHBOARD
* Started By Ben RICHEBOIS
* 
* Tags: dashboard, Github, Todo List, HTML5, CSS3, JavaScript, Angular, jQuery, cookie
* 
*/
/* **************************************************
soft reset
*****************************************************/
/* base font-size corresponds to 10px and is adapted to rem unit */
html {
  font-size: 62.5%;
  height: 100%;
}
html,
body,
textarea,
figure,
label {
  margin: 0;
  padding: 0;
}
ul,
ol {
  padding-left: 2em;
}
code,
pre,
samp {
  white-space: pre-wrap;
  font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code {
  line-height: 1em;
}
table {
  margin-bottom: 1.5em;
}
/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure,
hgroup {
  font-size: 1em;
  /* equiv 14px */
  line-height: 1.5;
  margin: 1.5em 0 0;
}
/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
/* avoid margins on nested elements */
li p,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* HTML5 tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  max-width: 100%;
}
/* you shall not pass */
div,
textarea,
table,
td,
th,
code,
pre,
samp {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
/* pictures */
img {
  width: auto;
  height: auto;
  vertical-align: middle;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
  color: #000;
}
/* scripts */
body > script {
  display: none !important;
}
/* **************************************************
REAL STYLE BABY!
*****************************************************/
body {
  /*background-color: #fff;*/
  background-color: #222;
  color: #000;
  /*font-family: "Century Gothic", helvetica, arial, sans-serif;*/
  font-family: "Source Code Pro", Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 1.4em;
  /* equiv 14px */
  line-height: 1.5;
  /* adapt to your design */
  height: 100%;
}
#tableContainer{width: 100%;}

/* TODO LIST
*****************************************************/
#tableContainer{display:table;height:100%;}
#tableContainer>div{display:table-row;height:100%}
#tableContainer>div>section{display:table-cell;height:100%}
#tableContainer>div>section:nth-of-type(2){width:100%;}
#tableContainer>div>section:nth-of-type(2){position:relative;}

section#todoList,
#todoList {
  width: 25%;
  max-width: 340px;
  min-width:150px;
  background-color: #FBFDFE;
  height:100%;
  border-right:solid 1px #dedede;
}
#pomodoroPlay, #pomodoroReset{
  cursor:pointer;
  padding: 6px;
}

#pomodoroTimer{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 'light';
}

#add_new_item{
  cursor:pointer;
  padding: 6px;
  background-color: #cdcdcd;
}
#todoList #timer_pomodoro{background-color:#b9b9b9;height: 90px;}
#todoList #timer_pomodoro ul{
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
}
#todoList #timer_pomodoro ul li{
    display: inline;
    display: list-item;
    list-style: none;
}
#list_items{display:table;width:100%;}
#list_items > div, .single_item{display:table-row;width:100%;}
#list_items > div > div, .single_item .title_item{display:table-cell;padding:5%;}
.single_item .length_time{text-align: right;}
.single_item > div{padding:10px;}
#total_pomodoro{text-align:right;margin-top:15px;color:#505050;padding:10px;}

/* CLI
*****************************************************/
div#commandLine{
  position:absolute;
  bottom:0;
  border-top:1px solid #555;
  padding:6px 0 12px 10px;
  width:100%;
  color:#fff;
  font-size: 20px;
  background-color: #1c1c1c;
  box-sizing: border-box;
}
.gravityBlue{
  border: 1px solid #a3ece7;
  padding: 4px;
  background-color: #a3ece7;
  color: #000;
  font-family: "Source Code Pro", Menlo, Monaco, "Consolas", "Courier New", "Courier";
  line-height: 1.3em;
  cursor: pointer;
}

div#commandLine form button{
  padding: 4px;
  font-weight: bold;
}
div#commandLine form button:hover{
  background-color: #1c1c1c;
  color: #fff;
  border: 1px solid #a3ece7;
}
input#CLI{
  background-color: #1c1c1c;
  color:#fff;
  border:0;
  width: 90%;
  font-size: 20px;
  font-family: "Source Code Pro", Menlo, Monaco, "Consolas", "Courier New", "Courier";
  /*border: 1px solid #a3ece7;*/
}
input#CLI:focus, input#CLI:active{
  border:0;
  outline: none;
}

/* POPUP
*****************************************************/
#popup{
  display:none;
  position:fixed;
  width: 500px;
  max-width: 650px;
  left:33%;
  top:110px;
  z-index: 100;
  border: 4px solid #96E1E6;
  color: #fff;
  padding: 0 0 20px 0;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
#popup #menuTop{
    height: 22px;
    background-color: #96E1E6;
    color: #000;
    position: relative;
}
#popup form{margin: 15px auto;width:80%;}
#popup form input{font-family: "Source Code Pro", Menlo, Monaco, "Consolas", "Courier New", "Courier";}
#popup form label{display: block;}
#popup form input{width: 80%;font-size:18px;}
#popup form input[type="number"]{width: 50px;height:30px;font-size: 22px;}
#popup form input[type="time"]{width: 130px;height:30px;font-size: 16px;}
#popup form button[type="button"]{
  display: block;
  margin-top:25px;
  padding: 6px 14px;
  font-size: 27px;
  font-weight: lighter, 200;
}
/* **************************************************
MEDIA QUERIES
*****************************************************/
